* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
 }

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: black;
    color: white;
}

.bordar {
    margin: 0 auto;
    width: 100%;
    margin-top: 1%;
    border-bottom: 2px solid #CCC;
  }